{% extends 'base.html.twig' %}

{% block title %}
    Authorization
{% endblock %}

{% block body %}

    <div class="container">


        {% if error %}
            <div style="color: red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <div class="col-md-2"></div>

        <div class="col-md-8">
            <img src="{{ asset('assets/images/33333.png') }}" class="img-responsive">
            <section class="login_form">

                <form method="post" action="{{ path('login') }}">

                    <input type="text" id="username" name="_username" class="form-control input-lg" value="{{ last_username }}" placeholder="Login" required/>

                    <input type="password" id="password" name="_password" class="form-control input-lg" placeholder="Password" required/>
                    <div class="pwstrength_viewport_progress"></div>
                    <br>

                    <button type="submit" name="go" class="btn btn-lg btn-primary btn-block">Sign in</button>
                    <div>
                        <a class="link" href="{{ path('registration') }}">Create account</a> or <a class="link" href="{{ path('check') }}">reset password</a>
                    </div>

                </form>

                <div class="authoris_panel">
                    <div id="uLogin" class="btn-group authoriz" data-ulogin="display=buttons;fields=first_name,last_name,photo;
            redirect_uri=http://drawingrooms.loc/">
                        <a id="btn_vk" class="btn btn-social btn-vk btn_author" data-uloginbutton = "vkontakte">
                            <span class="fa fa-vk"></span> Sign in with Vkontakte
                        </a>

                        <a id="btn_facebook" class="btn btn-social btn-facebook btn_author" data-uloginbutton = "facebook">
                            <span class="fa fa-facebook"></span> Sign in with Facebook
                        </a>

                        <a id="btn_twitter" class="btn btn-social btn-twitter" data-uloginbutton = "twitter">
                            <span class="fa fa-twitter"></span> Sign in with Twitter
                        </a>
                    </div>
                </div>
            </section>
        </div>

        <div class="col-md-2"></div>

    </div>

{% endblock %}

{% block stylesheets %}

    <link href="{{ asset('assets/css/bootstrap.min.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/bootstrap-theme.min.css') }}" rel="stylesheet" >
    <link href="{{ asset('assets/css/bootstrap-social.css') }}" rel="stylesheet" />
    <link href="{{ asset('assets/css/authoriz.css') }}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" >
    <script src="//ulogin.ru/js/ulogin.js"></script>

{% endblock %}

{% block javascripts %}{% endblock %}