<li><a href="{{ path('rooms_list') }}">List Of Rooms</a></li>
<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="display: inline-block; padding: 3px 0 3px 0">

        {% if app.user.photoPath == "" %}
            <img src="{{ asset('assets/images/user.png') }}" class="img-circle" style="height: 45px; margin-right: 5px">
        {% else %}
            <img src="{{ app.user.photoPath }}" class="img-circle" style="height: 45px; margin-right: 5px">
        {% endif %}

        {% if app.user.fullname == "" %}
            {{ app.user.username }}
        {% else %}
            {{ app.user.fullname }}
        {% endif %}
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">

        <li><a href="{{ path('main_page') }}">Profile</a></li>
        {% if role == 'admin' %}
            <li><a href="{{ path('main_page') }}">Admin panel</a></li>
        {% endif %}
        {#<li><a href="#">Settings</a></li>#}
        {#<li><a href="#">Quizzes of User</a></li>#}
        <li><a href="{{ path('logout') }}">Log out</a></li>

    </ul>
</li>