{% extends 'base.html.twig' %}

{% block title %}{{ canvas_title }}{% endblock %}

{% block body %}

    <div hidden>
        <span id="active_tool">brush</span>
        <span id="width_brush">{{ width_brush }}</span>
        <span id="color_brush">{{ color_brush }}</span>

    </div>

    <div id="er404" hidden>
        <div style="justify-content: center;display: flex;flex-direction: row">
            <img src="{{ asset('assets/images/error-404.png') }}" class="img-responsive">
        </div>
    </div>

    <div style="height: 100%">
        <canvas id="conv" width="1500" height="820" style="background-color: white;">
            Element dont work on this browser!
        </canvas>
    </div>

{% endblock %}

{% block stylesheets %}

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}

{% block javascripts %}

    <script src="{{ asset('assets/js/canvas_draw.js') }}"></script>

{% endblock %}
